<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FOLHA-PONTO</title>
    <link rel="stylesheet" href="style.css">

  </head>
  <body style = "background: FolhaPonto/images/temposmodernos.jpg">
    <h1>Folha Ponto</h1>
    <h2>Configuração</h2>
    <div class="container">
        <div class="page-header">

            <label>Margem em minutos tolerada por dia</label>
            <input>
            <br>
            <label>Incluir sábados?</label>
            <input>

        </div>
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
            </thead>
            <tbody>
                <tr>

                </tr>
            </tbody>
        </table>
    </div>
  </body>
</html>